<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="index.css">
    <script src="jquery.js"></script>
    <script async="true" src="index.js"></script>
</head>

<body>
    <div class="container-fluid bg-dark  header2">
        <ul class="category-container d-flex  justify-content-endv" style="flex-wrap: nowrap;">
            <li>VIEW REQUEST</li>
            <li>NEW REQUEST</li>
            <li>CHANGE PASSWORD</li>
            <span class=" mr-4  justify-self-end">
                
                <span>
                    <li class="menuitem "><a href="" class="btn-sm btn btn-warning">LOGIN</a></li>
                    <li class="menuitem "><a href="" class="btn-sm btn btn-warning">REGISTER</a>
                </span>
            </span>

        </ul>

    </div>
    
        




    <div class="container-fluid mt-4">
        <div class="row justify-content-center ">
                <h4>Create user</h4>
            <div class="newsection  col-5 mr-2">
                <form class="bg-light p-3" action="">
                <h6>FirstName</h6>
                <input type="text" class="form-control my-2" placeholder="">
                <h6>Surname</h6>
                <input type="text" class="form-control my-2" placeholder="">
                <h6>Password</h6>
                <input type="password" class="form-control my-2" placeholder="">
                    <input type="submit" class="btn btn-sm btn-primary" value="Change">
                </form>
            </div>

        </div>
    </div>
</body>

</html>