<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="homepage.css">
</head>
<body>
    <header>
        <div class="container-fluid menu-con">
            <div class="row">
                <div class="col-2">
                <img src="logol.png" width="50px" alt="" class="mt-2 ml-1" style="transform:scale(2);">
                </div>
                <div class="col-10  ">
                    <input type="checkbox" class="float-right" name="" id="rad">
                    <ul class="menu float-right ">
                        <a href="http://127.0.0.1:8000/login"> <li>Log In</li></a>
                        <a href="http://127.0.0.1:8000/register"> <li>Register</li></a>
                       
                    </ul>
                   
                </div>
            </div>
        </div>
        <div class="container-fluid ">
        <div class="row p-0 m-0 ">
            <div class="col-md-6 col-12 mt-5">
                <h4 class="intro mt-5">
                    Help Desk
                </h4>
                <p>(Secure, Fast & Reliable)</p>
                <div class="row">
                <a href="#" class="btn btn-md ml-2  col-4 col-md-4 btnc btn-outline-info p-2">Get Started</a>
                <a href="#" class="btn btn-md ml-2 col-4  col-md-4 btnc btn-outline-light p-2">About</a>
            </div>
            </div>
            <div class="col-6 overflow-hidden d-none d-md-block">
                <img src="show.png" class="w-100 h-100" style="transform: scale(0.6); transform: rotate(30deg);" alt="">
            </div>
        </div>
     </div>
    </header>

</body>
</html>